<?xml version="1.0"?>
<robot
  name="sting"
  xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find sting_description)/urdf/sting.xacro" />

  <xacro:property name="base_link" value="base_link" />

  <link name="base_link" />
  <xacro:sting base_link="${base_link}" />
  
</robot>